{
 "presets": [
    "flow",
    ["env",
      {
        "targets": {
          "browsers": [ "last 2 versions", "not ie <= 8"]
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "lodash",
    "transform-decorators-legacy"
  ],
  "env": {
    "test": {
      "plugins": [
        "babel-plugin-dynamic-import-node"
      ]
    }
  }
}
