:root {
  --barColor: #de698c;
  --trackColor: #4c4c4c;
}

chimee-state {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 24px;
}

/* 全部初始皆为隐藏状态 */
chimee-state-error,
chimee-state-loading,
chimee-state-volume,
chimee-state-light,
chimee-state-play {
  display: none;
}

chimee-state.error chimee-state-error,
chimee-state.loading chimee-state-loading,
chimee-state.volume chimee-state-volume,
chimee-state.light chimee-state-light,
chimee-state.play chimee-state-play {
  display: inline-block;
}

chimee-state-error,
chimee-state-loading,
chimee-state-play,
chimee-state-error {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

chimee-state-play {
  width: 2em;
  height: 2em;
  background-image: url('./image/play.svg');
  background-origin: content-box;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 110% 50%;
  box-sizing: initial;
}

chimee-state-loading {
  width: 2em;
  height: 2em;
  background-image: url('./image/loading.svg');
  background-origin: content-box;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

chimee-state-error {
  display: none;
  font-size: 16px;
  z-index: 9;
  color: rgb(255, 207, 0);
  text-shadow: 0 0 3px rgb(255, 0, 0);
  font-weight: 100;
}

chimee-state-volume {
  position: absolute;
  top: 4em;
  left: 1em;
  width: 1em;
  bottom: 4em;
}

chimee-state-volume-icon {
  display: inline-block;
  position: absolute;
  left: 0.2em;
  bottom: 0;
  width: .5em;
  height: 1em;
  fill: #ffffff;
  stroke: #ffffff;
}

chimee-state-volume-bar {
  display: inline-block;
  position: absolute;
  left: .4em;
  top: 0;
  bottom: 1em;
  width: 4px;
}

chimee-state-volume-bar-value,
chimee-state-volume-bar-track {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--trackColor);
  border-radius: 4px;  
}

chimee-state-volume-bar-value {
  height: 0%;
  background-color: var(--barColor);
}
