.vision-contextmenu ul{
  margin: 0;
  padding: 0;
}
.vision-contextmenu li{
  padding-left: 4px;
  line-height: 24px;
  list-style: none;
}
.vision-contextmenu li._close{
  cursor: pointer;
  float: inherit;
  font-size: 13px;
}